* {
  box-sizing: border-box;
}
.mainColumnOne{
  float: left;
  background-color: black;
  width:30%;
  padding: 20px;
  height: 100%;
}

.mainColumnTwo{
 float: right;
  width: 70%;
  padding: 20px;
  height: 100%
}
