* {
  box-sizing: border-box;
}

.mainColumnOne{
  float: left;
  width:30%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  height: 100vh;
}

.mainColumnTwo{
 float: right;
  width: 70%;
  padding: 20px;
  height: 100vh;
}
.college{
 float: left;
  width: 70%
}

.college_grad{
  float: right;
  width: 30%;
}

.job{
  float: left;
  width: 70%;
}

.job_date{
  float: right;
  width: 30%;
}

.h3{
 margin: 0px 0px 0px 0px;
 padding: 0px 0px 0px 0px;
}
.h4{
 margin: 0px 0px 0px 0px;
 padding: 0px 0px 0px 0px;
}
