* {
  box-sizing: border-box;
}

body,html{
  height: 100%;
}
.mainColumnOne{
  float: left;
  width:30%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  height: 100%;
}

.mainColumnTwo{
 float: right;
  width: 70%;
  padding: 20px;
  height: 100%;
}
